<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPJZV-ZvGjdgChjmX0xhC47aHyz_tP0PQ</string>
	<key>GCM_SENDER_ID</key>
	<string>670726744771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.movere</string>
	<key>PROJECT_ID</key>
	<string>diabetes-app-2-dhvrsv</string>
	<key>STORAGE_BUCKET</key>
	<string>diabetes-app-2-dhvrsv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670726744771:ios:0f881deb72fc4846745076</string>
</dict>
</plist>